.makeStyles-root-5 {
  background-image: url("https://images.pexels.com/photos/2255355/pexels-photo-2255355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  padding: 25px;
  background-size: cover;
}
