.videoContainer {
  /* height: 300px;
  width: 300px; */
  position: relative;
}

.videoContainer video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

h1,
p {
  color: white;
}
